@import '../../theme/Colors.scss';
@import '../../theme/Helpers.scss';

.ocean-header {
  @extend .fillRowCenter;
  @extend .mainSpaceBetween;
  margin-bottom: 10px;

  span {
    font-weight: bold;
  }
}

.ocean {
  @extend .fillRow;
  @extend .flexWrap;
}

.island-area {
  position: relative;
  width: 80px;
  height: 80px;
  padding: 1px;
  margin: 1px;
  border: 1px solid $black;
  border-radius: 5px;
  @extend .textCenter;
  cursor: default;
  overflow: hidden;
  font-size: 12px;

  div {
    @extend .textOverflow;
  }
}

.change-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent transparent #FF4532 transparent;
  transform: rotate(180deg);
}

.ocean-header .dropdown-menu {
  max-height: 400px;
  overflow-x: auto;
  left: -25px !important;
}

.statistic-area {
  margin-top: 20px;

  & > div {
    flex: 1;
    margin: 5px;
  }
}

@media (min-width: 992px) {
  .statistic-area {
    display: flex;
    flex-direction: row;
  }

  .island-area {
    width: 100px;
    height: 100px;
    padding: 7px 5px;
    margin: 5px;
    font-size: 14px;
  }
}