.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.spyButton {
  margin-left: 10px;
}

.areaPlaceholder {
  height: 35px;
}

.form-group {
  margin-bottom: 0 !important;
  align-items: center;
}

.infoTooltip {
  padding-left: 0;
  padding-right: 30px;
}

.leftActionsArea {
  margin-top: 120px;

  .form-group {
    margin-bottom: 20px !important;
  }
}

.rightActionsArea {
  margin-top: 56px;
}