@import '../../theme/Colors.scss';
@import '../../theme/Helpers.scss';

.world {
  @extend .fillRow;
  @extend .flexWrap;
}

.changes-area {
  margin-top: 20px;

  & > div {
    flex: 1;
    margin: 5px;
  }
}

@media (min-width: 992px) {
  .changes-area {
    display: flex;
    flex-direction: row;
  }
}