/**
 * This file contains the application's colors.
 *
 * Define color here instead of duplicating them throughout the components.
 * That allows to change them more easily later on.
 */

$transparent: transparent;
$white: #ffffff;
$black: #000000;
$gray: #808080;

$areaBackgroundColor: #D8BFA0;
$backgroundColor: #2E2828;

$primary: #CE1537;
$secondary: #E97724;
$third: #8413F9;

$success: #28a745;
$error: #ff0000;

$facebook: #3b5998;
$twitter: #00aced;

