@import './theme/Colors.scss';
@import './theme/Helpers.scss';

.inner-container {
  background-color: $areaBackgroundColor !important;
  background-image: url('assets/images/im_content_back.jpg');
  background-repeat: repeat;
  padding: 20px;
  border-radius: 5px;
  @extend .boxBasics;
}

.container {
  width: 1024px;
  margin: 20px auto;
  font-size: 14px;
}

.root-area {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

.header-area {
  border-bottom: 1px solid $black;
}

.navbar {
  background-color: $areaBackgroundColor;
  background-image: url('assets/images/im_content_back.jpg');
  background-repeat: repeat;
}

.navbar-brand, .nav-link {
  color: $backgroundColor !important;
}

.nav-link:hover {
  opacity: 0.7;
}

.dropdown-menu {
  min-width: auto !important;
  background-color: $areaBackgroundColor !important;
  background-image: url('assets/images/im_content_back.jpg');
  background-repeat: repeat;
}

.heart {
  color: red;
}

.footer-area {
  color: #DFC9AA;
  width: 100%;
  text-align: center;
  background-image: url('assets/images/im_footer.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  padding: 38px 0;

  & a {
    color: #DFC9AA;
    &:hover {
      text-decoration: underline !important;
    }
    &:visited {
      color: #DFC9AA;
    }
  }
}