@import './theme/Colors.scss';
@import './theme/Helpers.scss';

.inner-container {
  background-color: $areaBackgroundColor !important;
  background-image: url('assets/images/im_content_back.jpg');
  background-repeat: repeat;
  padding: 10px;
}

.container {
  font-size: 14px;
}

.root-area {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

.heart {
  color: red;
}

@media (min-width: 992px) {
  .inner-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 11px 59px 0 rgba(0, 0, 0, 0.56);
  }

  .container {
    margin: 20px auto;
  }
}