.root {
    width: 1240px;
    margin: 20px auto;
    background-color: #D8BFA0 !important;
    border-radius: 5px;
    padding: 20px;
}

.navbar {
    background-color: #D8BFA0;
}

.navbar-brand, .nav-link {
    color: #2E2828 !important;
}

.nav-link:hover {
    opacity: 0.7;
}

.heart {
    color: red;
}