@import '../../theme/Colors.scss';
@import '../../theme/Helpers.scss';

.world {
  @extend .fillRow;
  @extend .flexWrap;
}

.ocean-area {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 5px;
  margin: 3px;
  font-size: 12px;
  border: 1px solid $black;
  color: $black;
  border-radius: 5px;
  @extend .textCenter;
  cursor: pointer;

  &:hover {
    @extend .boxBasics;
    color: $black;
  }
}

.ocean-info {
  position: absolute;
  width: 150px;
  left: -25px;
  background-color: $areaBackgroundColor;
  background-image: url('../../assets/images/im_content_back.jpg');
  background-repeat: repeat;
  border: 1px solid $black;
  z-index: 10;
  padding: 10px;
  color: $black;
  @extend .boxBasics;
}

.ally-line {
  @extend .fillRow;
  @extend .mainSpaceBetween;
}

@media (min-width: 992px) {
  .ocean-area {
    width: 100px;
    height: 100px;
    font-size: 14px;
    margin: 5px;
    padding: 17px 5px;
  }
}